{% extends "layout.html" %}
cd
{% block main %}
<h3>INFORMATION LIST</h3>
<!-- Button trigger modal -->
<button type="button" class="btn btn-warning m-2" data-toggle="modal" data-target="#exampleModal">
    Add Information
</button>
<table class="table table-sm table-striped table-hover">
    <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>ADRESS</th>
            <th>STATUS</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        {% for information in informations %}
        <tr>
            <td>{{information.id}}</td>
            <td>{{information.name}}</td>
            <td>{{information.address}}</td>
            <td>
                {% if information.status == "Active" %}
                <span class="badge badge-pill badge-success">{{information.status}}</span>
                {% else %}
                <span class="badge badge-pill badge-secondary">{{information.status}}</span>
                {% endif %}
            </td>
            <td>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="#">edit</a>
                        <a class="dropdown-item" href="#">delete</a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" method="POST">
                <div class="modal-body">
                    <div class="input-group my-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Name</span>
                        </div>
                        <input type="text" name="name" class="form-control" placeholder="name" aria-label="Name"
                            aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group my-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Address</span>
                        </div>
                        <input type="text" address="address" class="form-control" placeholder="address" aria-label="Address"
                            aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3  my-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" status="status" for="inputGroupSelect01">Status</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01">
                            <option selected>...</option>
                            <option value="1">Active</option>
                            <option value="2">Inactive</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}